<div class="container mt-4" *ngIf="showMainContent; else addNewTaskForm">
  <section class="tabs-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 b-cumbs">
          <h3 class="float-start heading">All Tasks</h3>
          <div class="float-end forms">
            <!--<input id="searchText" class="form-control" type="text" placeholder="Search" autocomplete="cc-csc" />
  <button><i class="las la-search"></i></button>-->
            <button type="button" class="btn btn-primary"  (click)="ShowHideButton();"><i class="las la-plus"></i> Create New</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!--<button type="button" class="btn btn-primary"><i class="las la-plus"></i> Create New</button>-->
          <table class="table table-bordered table-hover  mt-4">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Contact</th>
              <th>Profile Image</th>
            </tr>
            <tr>
              <td>1.</td>
              <td>Raza</td>
              <td>Multan</td>
              <td>0300-9435761</td>
              <td>Image</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </section>
  </div>
  <ng-template #addNewTaskForm >

    <section class="tabs-bar">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 b-cumbs">
            <h3 class="float-start heading">Create New Task</h3>
            <a href="javascript:;" class="btn btn1 float-end" (click)="dispalyGrid();"><i class="las la-arrow-left"></i> Back</a>
            <div class="clearfix"></div><!--clearfix-->
            <br />
          </div>
        </div>
      </div>
    </section>
    <div id="ContainerFormFields" class="container">
      <div class="row">
        <div class="col-sm-12">
          <section class="common-boxes px-5 py-4 bg-white radius mt-4">
            <br />
            <div class="row">
              <div class="col-sm-6 ps-0">
                <div class="form-floating mb-3">
                  <input id="TaskTitle" type="text" placeholder="Task Title" class="form-control Required" data-jsname="Task Title" [(ngModel)]="model.TaskTitle" >
                  <!--<label for="name">Task Title</label>-->
                </div>
                <!--form-floating-->
              </div>
              <!--col-sm-6-->
              <div class="col-sm-6 pe-0">
                <div class="form-floating mb-3">
                  <textarea rows="3" cols="5"  id="TaskDescription" placeholder="Description" class="form-control Required" data-jsname="Task Description" [(ngModel)]="model.TaskDescription" ></textarea>
                  <!--<label for="label">Description</label>-->
                </div>
                <!--form-floating-->
              </div>
              <!--col-sm-6-->
            </div>
            <!--row-->
            <!--<div class="row">
              <div class="col-sm-6 ps-0">
                <div class="form-floating mb-3">
                  <input id="Initial" type="text" placeholder="Initial" class="form-control Required" data-jsname="Initial" [(ngModel)]="model.Initial" maxlength="4">
                  <label for="name">Initial</label>
                </div>-->
                <!--form-floating-->
              <!--</div>

              <div class="col-sm-6 pe-0">
                <div class="form-floating mb-3">
                  <select id="RoleID" class="form-control Required" data-jsname="Role"
                          [(ngModel)]="model.RoleID">
                    <option *ngFor="let role of rolesObject" selected value="{{role.code}}">
                      {{role.name}}
                    </option>
                  </select>
                  <label for="label2">Role</label>
                </div>-->
                <!--form-floating-->
              <!--</div>-->
              <!--col-sm-6-->
            <!--</div>-->
            <!--row-->

            <div class="row">
              <div class="col-sm-6 ps-0">
                <br />
                <div class="form-check mt-1 mb-3">
                  <input class="form-check-input mt-0" id="IsActive" type="checkbox" [(ngModel)]="model.IsActive">
                  <label class="form-check-label" for="IsActive">Active</label>
                </div>
              </div>
              <div class="col-sm-6 pe-0">
                <br />
                <div class="form-check mt-1 mb-3">
                  <input class="form-check-input mt-0" id="IsCompleted" type="checkbox" [(ngModel)]="model.IsCompleted">
                  <label class="form-check-label" for="IsCompleted">Completed</label>
                </div>
              </div>
            </div>           
            <div class="row">
              <div class="col-sm-6 ps-0">
                <button type="button" (click)="addUpdateTask()" class="btn btn-light py-2 px-4 mt-4"><img src="assets/images/icon-save.png" alt="Save Icon" height="15" /> {{model.IsInserting?'Create':'Update'}}</button>
              </div>
            </div>
            <!--row--> <br />
          </section>

        </div>
        <!--col-sm-12-->
      </div>
      <!--row-->
    </div>

  </ng-template>
